spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/jwt-rest?useSSL=true&createDatabaseIfNotExist=true
    username: root
    password: radi12345


  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

    hibernate:
      ddl-auto: update

  security:
    user:
      name: root
      password: root

jwt:
  secret: 'Y6S*n**={Ov(nWm7k[c^Qhw}c"-y(^^-!#<lXVRfD3^1QpI#^zzmkTfd-23Xfvu'

server:
  port: 8080